body {
    background-image:linear-gradient(purple,rgba(255, 11, 255, 0.9));
}

div {
    display: block;
    margin-left:auto;
    margin-right:auto;
        
    width: 40%;
}

div {
    font-family: "Lucida Console", monospace;
}
